@{
    ViewData["Title"] = "Home Page";
}


@if (TempData.ContainsKey("SuccessMessage"))
{
    <div class="alert alert-dismissible alert-dark" role="alert">
        @TempData["SuccessMessage"]
    </div>
    double totalCost = Convert.ToDouble(TempData["TotalCost"]);
    <p>Для оплаты бронирования в размере @totalCost рублей перейдите по ссылке <a href="https://my.qiwi.com/Aly-GEGUYq3GWb" target="_blank">Proceed to Payment</a></p>
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-content">

                <!-- ***** Banner Start ***** -->
                <div class="main-banner">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="header-text">
                                <h6>Добро пожаловать в GameHaven</h6>
                                <h4><em>GameHaven</em> ведущий клуб компьютерных игр</h4>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***** Banner End ***** -->
                <!-- ***** Most Popular Start ***** -->
                <div class="most-popular">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="heading-section">
                                <h4><em>Самые популярные</em> прямо сейчас</h4>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-sm-6">
                                    <div class="item">
                                        <img src="../img/popular-01.jpg" alt="">
                                        <h4>Fortnite<br><span>Песочница</span></h4>
                                        <ul>
                                            <li><i class="fa fa-star"></i> 4.8</li>
                                            <li><i class="fa fa-download"></i> 2.3M</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="item">
                                        <img src="../img/popular-02.jpg" alt="">
                                        <h4>PubG<br><span>Боевой S</span></h4>
                                        <ul>
                                            <li><i class="fa fa-star"></i> 4.8</li>
                                            <li><i class="fa fa-download"></i> 2.3M</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="item">
                                        <img src="../img/popular-03.jpg" alt="">
                                        <h4>Dota2<br><span>Steam-X</span></h4>
                                        <ul>
                                            <li><i class="fa fa-star"></i> 4.8</li>
                                            <li><i class="fa fa-download"></i> 2.3M</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="item">
                                        <img src="../img/popular-04.jpg" alt="">
                                        <h4>CS-GO<br><span>Легендарная</span></h4>
                                        <ul>
                                            <li><i class="fa fa-star"></i> 4.8</li>
                                            <li><i class="fa fa-download"></i> 2.3M</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-lg-6 col-sm-6">
                                                <div class="item inner-item">
                                                    <img src="../img/popular-05.jpg" alt="">
                                                    <h4>Mini Craft<br><span>Легендарная</span></h4>
                                                    <ul>
                                                        <li><i class="fa fa-star"></i> 4.8</li>
                                                        <li><i class="fa fa-download"></i> 2.3M</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-sm-6">
                                                <div class="item">
                                                    <img src="../img/popular-06.jpg" alt="">
                                                    <h4>Eagles Fly<br><span>Matrix Games</span></h4>
                                                    <ul>
                                                        <li><i class="fa fa-star"></i> 4.8</li>
                                                        <li><i class="fa fa-download"></i> 2.3M</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="item">
                                        <img src="../img/popular-07.jpg" alt="">
                                        <h4>Warface<br><span>Max 3D</span></h4>
                                        <ul>
                                            <li><i class="fa fa-star"></i> 4.8</li>
                                            <li><i class="fa fa-download"></i> 2.3M</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="item">
                                        <img src="../img/popular-08.jpg" alt="">
                                        <h4>Warcraft<br><span>Легенда</span></h4>
                                        <ul>
                                            <li><i class="fa fa-star"></i> 4.8</li>
                                            <li><i class="fa fa-download"></i> 2.3M</li>
                                        </ul>
                                    </div>
                                </div>
                              
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***** Most Popular End ***** -->
               
            </div>
        </div>
    </div>
</div>
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container ">
        <div class="card shadow roundeds mt-5" style="background: #27292a;">
            <div class="center-wrap m-4">
                <div class="container">

                    <div class="section-title">
                        <span>Обратная Связь</span>
                        <h2>Обратная Связь</h2>
                        <p>Напишите нам, если столкнулись с проблемами</p>
                    </div>

                    <div class="row">

                        <div class="col-lg-5 d-flex align-items-stretch">
                            <div class="info">
                                <div class="address">
                                    <i class="bi bi-geo-alt"></i>
                                    <h4>Место нахождения:</h4>
                                    <p>Россия Саратов</p>
                                </div>

                                <div class="email">
                                    <i class="bi bi-envelope"></i>
                                    <h4>Email:</h4>
                                    <p>deadlord616@gmail.com</p>
                                </div>

                                <div class="phone">
                                    <i class="bi bi-phone"></i>
                                    <h4>Телефон:</h4>
                                    <p>+7 900 332 33 45</p>
                                </div>

                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2482.7248646296225!2d46.0058803!3d51.518263499999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4114c7a04184f91f%3A0xc477b99eef27c2e8!2z0KHQsNGA0LDRgtC-0LI!5e0!3m2!1sru!2sru!4v1684788856429!5m2!1sru!2sru" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                            </div>

                        </div>

                        <div class="col-lg-7 mt-lg-0 d-flex align-items-stretch">
                            <form id="feedbackForm" method="post" role="form" action="/Home/SendFeedback" class="php-email-form">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="text-white" for="name">Ваше имя</label>
                                        <input type="text" name="name" class="form-control" id="name" required>
                                    </div>
                                    <div class="form-group col-md-6 mt-3 mt-md-0">
                                        <label class="text-white" for="email">Ваш Email</label>
                                        <input type="email" name="email" class=" form-control" id="email" required style="border: none;background: #1F2121;color: white;">
                                    </div>
                                </div>
                                <div class="form-group mt-3">
                                    <label class="text-white" for="subjects">Тема</label>
                                    <input type="text" name="subject" class="form-control" id="subjects" required>
                                </div>
                                <div class="form-group mt-3">
                                    <label class="text-white" for="message">Сообщение</label>
                                    <textarea id="message" name="message" class="  form-control " rows="10" required style="border: none;background: #1F2121;color: white;"></textarea>
                                </div>
                                <div class="col-lg-12">
                                    <div class="main-button">
                                        <button type="submit" style="background-color: #ec6090" class="btn">Отправить</button>
                                    </div>
                                </div>
                                
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

