@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   
</div>
@if (TempData.ContainsKey("SuccessMessage"))
{
    <div class="alert alert-dismissible alert-dark" role="alert">
        @TempData["SuccessMessage"]
    </div>
    double totalCost = Convert.ToDouble(TempData["TotalCost"]);
    <p>Для оплаты бронирования в размере @totalCost рублей перейдите по ссылке <a href="https://my.qiwi.com/Aly-GEGUYq3GWb" target="_blank">Proceed to Payment</a></p>
}
<form method="post" action="/Home/SendFeedback">

    <div>
        <label for="message">Message:</label>
        <textarea id="message" name="message" required></textarea>
    </div>
    <button type="submit">Send</button>
</form>
