@{
    ViewData["Title"] = "Подтверждение Email";
}



<div class="alert alert-dark" role="alert">
    <h4 class="alert-heading">Отлично!</h4>
    
    <p>Вы успешно прошли этап регистрации. Осталось лишь подвердить Email, перейдите по ссылке в сообщении.</p>
    <hr>
    <p class="mb-0">Если вы, не верно указали Email, пройдите этап регистрации заного. </p>
    
</div>
