.accordions {
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    margin-top: 2px;
    padding: 8px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

    .active, .accordions:hover {
        background-color: #ffffff;
    }

.accordion:after {
    color: #000000;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.panel {
    padding: 0 18px;
    background-color: #ffffff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
