@model WebAppMain.Models.Services
@{
    ViewBag.Title = "Добавление Услуги";
}
<form asp-action="AddServices" asp-controller="Services">
    <div class="container ">
        <div class="card shadow roundeds mt-5 " style="background: #27292a;">
            <div class="center-wrap m-4">
                <h4 class="text-lg-center" style="color: #ec6090;">Добавление услуги</h4>
                <div class="form-group">
                    <label asp-for="NameOfTheService" style="color: #ec6090;" class="control-label">Услуга</label>
                    <input type="text" asp-for="NameOfTheService" placeholder="Название услуги" class="form-control" />
                    <span asp-validation-for="NameOfTheService" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PricePerService" style="color: #ec6090;" class="control-label">Стоимость</label>
                    <input type="number" placeholder="Стоимость" asp-for="PricePerService" class="form-control" />
                    <span asp-validation-for="PricePerService" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" style="background-color: #ec6090" class="btn">Создать</button>
                    <a asp-action="ListServices" style="background-color: #ec6090" class="btn">Отмена</a>
                </div>
            </div>
        </div>
    </div>

</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}