@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> signInManager;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebAppMain</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/File.css" />
    <link rel="stylesheet" href="/css/fontawesome.css">
    <link rel="stylesheet" href="/css/templatemo-cyborg-gaming.css">
    <link rel="stylesheet" href="/css/owl.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css%22%3E"/>
   


</head>
<body>
  
        <header class="header-area header-sticky">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="main-nav">
                            <!-- ***** Logo Start ***** -->
                        <a asp-controller="Home" asp-action="Index" class="logo">
                                <img src="../img/Logo.png" alt="">
                            </a>
                            <!-- ***** Logo End ***** -->
                            
                            <!-- ***** Menu Start ***** -->
                            <ul class="nav">
                            @if (signInManager.IsSignedIn(User) && User.IsInRole("Разработчик") || User.IsInRole("Администратор"))
                            {

                                <li>
                                    <a   asp-controller="Services" asp-action="ListServices">Услуги </a>
                                </li>
                                <li>
                                    <a   asp-controller="Computer" asp-action="ListComputer">Компьютеры </a>
                                </li>
                                <li>
                                    <a   asp-controller="Halls" asp-action="ListHalls">Залы </a>
                                </li>
                                <li>
                                    <a   asp-controller="Visitor" asp-action="ListVisitor">Посетители </a>
                                </li>
                                <li>
                                    <a   asp-controller="Visiting" asp-action="ListVisiting">Посещение </a>
                                </li>
                                <li>
                                    <a   asp-controller="UserRoles" asp-action="Index">Роли </a>
                                </li>
                                <li>
                                    <a   asp-controller="User" asp-action="ListUsers">Пользователи </a>
                                </li>

                            }
                            @if (signInManager.IsSignedIn(User) && User.IsInRole("Сотрудник"))
                            {
                                <li>
                                    <a   asp-controller="Services" asp-action="ListServices">Услуги </a>
                                </li>
                                <li>
                                    <a   asp-controller="Computer" asp-action="ListComputer">Компьютеры </a>
                                </li>
                                <li>
                                    <a   asp-controller="Halls" asp-action="ListHalls">Залы </a>
                                </li>
                                <li>
                                    <a   asp-controller="Visitor" asp-action="ListVisitor">Посетители </a>
                                </li>
                                <li>
                                    <a   asp-controller="Visiting" asp-action="ListVisiting">Посещение </a>
                                </li>
                            }
                            @if (signInManager.IsSignedIn(User) && User.IsInRole("Гость"))
                            {
                                <li>
                                    <a   asp-controller="Home" asp-action="AddVisitingGuest">запись </a>
                                </li>
                            }
                            @if (signInManager.IsSignedIn(User))
                            {
                                <li class="mt-1">
                                    <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" alt=""> Профиль</a>
                                </li>
                               
                            }
                            else
                            {
                                <li>
                                    <a asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
                                </li>
                                <li class="mt-1"\>
                                    <a asp-area="Identity" asp-page="/Account/Login">Авторизация</a>
                                </li>
                            }
                            </ul>
                           
                            <!-- ***** Menu End ***** -->
                        </nav>
                    </div>
                </div>
            </div>
       
 
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    </header>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@2.9.3/dist/umd/popper.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
