@page
@model EnableAuthenticatorModel
@{
    ViewData["Title"] = "Configure authenticator app";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>Настройка приложения для проверки подлинности:</h4>
<div>
    <p class="text-white">
        Чтобы использовать приложение для проверки подлинности, выполните следующие действия:
    </p>
    <ol class="list">
        <li>
            <p class="text-white">
                Скачайте приложение для двухфакторной аутентификации, например Microsoft для
                <a href="https://go.microsoft.com/fwlink/?Linkid=825072">Android</a> и
                <a href="https://go.microsoft.com/fwlink/?Linkid=825073">iOS</a> или
                Google Authenticator для
                <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">Android</a> и
                <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">iOS</a>.
            </p>
        </li>
        <li>
            <p class="text-white">Отсканируйте QR-код или введите этот ключ в приложение для двухфакторной аутентификации. <br> <b><kbd>@Model.SharedKey</kbd></b></p>

            <div id="qrCode" style="width:150px"></div>
            <div id="qrCodeData" data-url="@Html.Raw(@Model.AuthenticatorUri)"></div>
        </li>
        <li>
            <p class="text-white">
                После того, как вы отсканируете QR-код или введете приведенный выше ключ, ваше приложение для двухфакторной аутентификации
                предоставит вам с уникальным кодом. Введите код в поле подтверждения ниже.
            </p>
            <div class="row">
                <div class="col-md-6">
                    <form id="send-code" method="post">
                        <div class="form-group">
                            <label asp-for="Input.Code" class="control-label text-white">Проверочный код</label>
                            <input asp-for="Input.Code" class="form-control" autocomplete="off" />
                            <span asp-validation-for="Input.Code" class="text-danger"></span>
                        </div>
                        <button type="submit" style="background-color: #ec6090 ;--bs-btn-border-color: #ec6090"  class="btn ">Проверить</button>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </form>
                </div>
            </div>
        </li>
    </ol>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/lib/qrcodejs/qrcode.js"></script>
    <script type="text/javascript">
        new QRCode(document.getElementById("qrCode"),
            {
                text: "@Html.Raw(Model.AuthenticatorUri)",
                width: 200,
                height: 200
            });
    </script>
}

