@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />
<h4 class="mb-4">Личные данные</h4>
    <div class="row">
        <div class="col-md-5 ">
            <div class="d-flex flex-column align-items-center text-center">
            @if (Model.Input.ProfilePicture != null)
            {
                <img id="profilePicture" style="width:250px; height:250px" class="" src="data:image/*;base64,@(Convert.ToBase64String(Model.Input.ProfilePicture))">
            }
            else
            {
                <img id="profilePicture" style="width:250px; height:250px" class="" src="https://mdbcdn.b-cdn.net/img/new/standard/city/053.webp">
            }
            </div>
        </div>
        <div class="col-md">
        

        <form id="profile-form" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                <label class="text-white" asp-for="Username">Email</label>
                <input asp-for="Username" style="background-color:#1f2122" class="form-control" disabled />
                </div>
                <div class="form-group">
                <label class="text-white" asp-for="Input.FirstName">Имя</label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>

                <div class="form-group">
                <label class="text-white" asp-for="Input.LastName">Фамииля</label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
            <div class="form-group">
                <label class="text-white" asp-for="Input.Patronymic">Отчество</label>
                <input asp-for="Input.Patronymic" class="form-control" />
                <span asp-validation-for="Input.Patronymic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="text-white" asp-for="Input.Date_birth">Дата рождения</label>
                <input type="date" asp-for="Input.Date_birth" class="form-control"  />
                <span asp-validation-for="Input.Date_birth" class="text-danger"></span>
            </div>
                <div class="form-group">
                <label class="text-white" asp-for="Input.PhoneNumber"></label>
                    <input type="number" asp-for="Input.PhoneNumber" class="form-control" />
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>

            <label asp-for="Input.ProfilePicture">Изображение профиля</label>
            <div class="custom-file">
                <input type="file"
                       name="file"
                       asp-for="Input.ProfilePicture"
                       class="custom-file-input"
                       onchange="document.getElementById('profilePicture').src = window.URL.createObjectURL(this.files[0])">

                <label class="custom-file-label" for="validatedCustomFile">
                    Фото профиля...
                </label>


            </div>
                <div class="text-center mt-4">
                <button id="update-profile-button" type="submit" class="btn btn-primary" style="--bs-btn-border-color: #ec6090;background-color: #ec6090;">Сохранить изменения</button>

                </div>
            </form>
        </div>
    </div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}