@using WebAppMain.Controllers
@model WebAppMain.Models.Computer
@{
    ViewBag.Title = "Редактирование Компьюетра";
    var a = TempData["Halls"];
}
<form asp-action="EditComputer" asp-controller="Computer" asp-route-ComputerId="@Model.ComputerId">
    <div class="container ">
        <div class="card shadow roundeds">
            <div class="center-wrap m-4">
                <h4 class="text-lg-center">Добавление компьютера</h4>
                <div class="form-group">
                    <label asp-for="ComputerName" class="control-label">Компьютер: </label>
                    <input type="text" asp-for="ComputerName" placeholder="Компьютер" class="form-control" />
                    <span asp-validation-for="ComputerName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="CompanyName" class="control-label">Комплектация:</label>
                    <textarea type="text" cols="40" placeholder="Комплектация" rows="5" asp-for="CompanyName" class="form-control"></textarea>
                    <span asp-validation-for="CompanyName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateOfLastService" class="control-label">Дата последнего обслуживания: </label>
                    <input type="date" asp-for="DateOfLastService" placeholder="Компьютер" class="form-control" />
                    <span asp-validation-for="DateOfLastService" class="text-danger"></span>
                </div>
                <label asp-for="HallsId" class="control-label">Зал</label>
                <div class="form-group">
                    <select class="form-control" asp-for="HallsId">
                        @if (a != null)
                        {
                            @foreach (var item in (List<ComputerController.SelectOptions>)a)
                            {
                                <option value="@item.value">@item.text</option>
                            }

                        }
                    </select>
                    <span asp-validation-for="HallsId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Обновить</button>
                    <a asp-action="ListComputer" class="btn btn-primary">Отмена</a>
                </div>
            </div>
        </div>
    </div>




</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}