@model WebAppMain.Models.Visitors
@{
    ViewBag.Title = "Редактирование посетителя";
}
<form asp-action="EditVisitor" asp-controller="Visitor" asp-route-VisitorsId="@Model.VisitorsId">
    <div class="container ">
        <div class="card shadow roundeds mt-5" style="background: #27292a;">
            <div class="center-wrap m-4">
                <h4 class="text-lg-center" style="color: #ec6090;">Редактирование посетителя</h4>
                <div class="form-group">
                    <label asp-for="Name" style="color: #ec6090;" class="control-label">ФИО</label>
                    <input type="text" asp-for="Name" placeholder="ФИО" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Addres" style="color: #ec6090;" class="control-label">Адрес</label>
                    <input type="text" asp-for="Addres" placeholder="Адрес" class="form-control" />
                    <span asp-validation-for="Addres" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" style="color: #ec6090;" class="control-label">Дата рождения</label>
                    <input type="date" asp-for="DateOfBirth" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" style="color: #ec6090;" class="control-label">Постоянный клиент</label>
                    <select class="form-control" asp-for="Constant">
                        <option value="">Выберите тип</option>
                        <option>Да</option>
                        <option>Нет</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" style="background-color: #ec6090" class="btn ">Обновить</button>
                    <a asp-action="ListVisitor" style="background-color: #ec6090" class="btn btn-danger">Отмена</a>
                </div>
            </div>
        </div>
    </div>
   

</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
